.hidden {
  display: none;
}

#scanContainer {
  border-radius: 15px;
  overflow: hidden;
  width: auto;
  max-width: 300px; /* Вы можете настроить это в зависимости от размеров картинки */
  margin: 0 auto;
}

#scanImage {
  width: 100%; /* Изображение будет растягиваться по ширине контейнера */
}

#loadingAnimation {
  text-align: center;
}

#paymentAnimation {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: green;
}
