/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f8fb;  /* Легкий фон, как на сайте Tinkoff */
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
}

/* Заголовок */
h1 {
  font-size: 28px;
  color: #3e4a59;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

/* Основной контейнер для выбора транспорта */
#transportSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 40px;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.radio-buttons label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #4a4a4a;
}

.radio-buttons input {
  display: none;
}

.radio-buttons img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: all 0.3s;
}

input[type="number"]:focus {
  border-color: #2e74f6;
  outline: none;
}

/* Кнопка подтверждения */
button {
  padding: 12px 24px;
  background-color: #2e74f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1a5bb8;
}

button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

/* Стили для контейнера с изображением */
#scanContainer {
  display: none;
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
  max-width: 100%;
}

#scanImage {
  width: 100%;
  display: block;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

#scanImage:hover {
  transform: scale(1.05);
}

/* Сканер */
#reader {
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin-top: 20px;
  display: none;
}

/* Анимация загрузки */
#loadingAnimation {
  display: none;
  text-align: center;
  margin-top: 30px;
}

#loadingAnimation img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

#loadingAnimation p {
  font-size: 16px;
  color: #2e74f6;
  font-weight: 600;
}

/* Успешная оплата */
#paymentAnimation {
  display: none;
  text-align: center;
  font-size: 20px;
  color: #28a745;
  font-weight: bold;
  margin-top: 20px;
}
